@font-face{
    font-family: 'Railway';
    src: url('railway.ttf');
}
html{
    font-size: 16px; /* Sets the root font-size so that rems work properly. */
    -webkit-text-size-adjust: none; /* Prevents mobile browsers from adjusting the font. */
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    background-image: url("images/background.png");
    background-attachment: fixed;
}
html, body, div, p, h1{
    margin: 0rem auto;
    padding: 0rem;
    text-align: center;
    color: #eeeeee;
    font-family: Railway;
}

img{
    margin: 0.5rem 0.25rem;
}

h1{
    font-size: 2.3rem;
    font-weight: normal;
    padding: 0rem;
    line-height: 2.5rem;
}

p{
    font-size: 1.2rem;
    text-align: left;
}

a, a:visited{
    color: #e9897c;
    text-decoration: none;
    outline: none;
}

#info{
    width: -moz-max-content;
    width: intrinsic;
    border: 0.3rem solid #eeeeee;
}

#content{
    position: relative;
    top: 12rem;
}

/* Sets the colors when selecting text. */
::-moz-selection{
    background-color: #eeeeee;
    color: #222222;
}

::selection{
    background-color: rgba(238, 238, 238, 0.99);
    color: #222222;
}

/* Fixes a bug with SVG files in IE9. */
svg:not(:root){overflow: hidden;}

/* Fixes some image resizing bug in IE7. */
img{-ms-interpolation-mode: bicubic;}



