body {
  margin: 1em;
  font-family: monospace;
  font-size: 14px;
  font-size: 4vmin;
}

main {
  max-width: 100%;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.small {
  font-size: 0.7em;
}

#discoball {
  position: absolute;
  top: 0;
  right: 1em;
  cursor: pointer;
}

/**
 *themes
 **/

/* salmon */

body.salmon {
  background-color: #f3a2ad;
  color: #00362b;
}

.salmon a,
.salmon a:hover,
.salmon a:active,
.salmon a:visited {
  color: #246d5f;
}

/* aubergine */

body.aubergine {
  background-color: #887caf;
  color: #555500;
}

.aubergine a,
.aubergine a:hover,
.aubergine a:active,
.aubergine a:visited {
  color: #aaaa39;
}

/* lime */

body.lime {
  background-color: #e5f5a3;
  color: #1d053a;
}

.lime a,
.lime a:hover,
.lime a:active,
.lime a:visited {
  color: #4d2d73;
}

/* dust */

body.dust {
  background-color: #d4946a;
  color: #051a38;
}

.dust a,
.dust a:hover,
.dust a:active,
.dust a:visited {
  color: #2c4770;
}
